html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  /* background-color: rgba(15, 47, 107, 0.76); */
  background-image: linear-gradient(#141e30, #243b55);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Pege components */

/* home page */
.homeWrapper {
  text-align: center;
}

.userBanner {
  color: white;
}

.bannerContainer {
  text-align: center;
}

.pathTags {
  color: white;
  font-family: sans-serif;
  font-weight: 0;
}
