.componentContainer {
  margin-left: 100px;
}

.postReply-box {
  float: right;
  margin-right: 20px;
  left: 50%;
  width: 50%;
  background: rgba(14, 18, 48, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.replyBox {
  float: right;
  align-self:flex-end;
  height: 100px;
  width: 80%;
}

.reply {
  color: white;
  margin-right: 10px;
  margin-top: 40px;
  height: 20%;
  float: right;
  background-color: black;
  box-shadow: -1px -1px 4px #fff, 1px 1px 4px #babecc;
}