.selectedThread {
  list-style: none;
  width: 600px;
  padding: 10px;
  background: rgba(14, 18, 48, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.dateOnSelected {
  float: right;
  margin-right: 10px;
  padding: 0px;
}

.titleSelected {
  padding-top: 20px;
}

.selectedThreadContainer {
  display: block;
}


.selectedRow {
  color: rgb(215, 228, 245);
  font-family: sans-serif;
  height: 200px;
  margin:0;
  background-color: rgba(92, 106, 212, 0.5);
  border-color: rgb(109, 108, 108);
  box-shadow: -1px -1px 4px rgb(72, 136, 233), 1px 1px 4px #899ee9;
}

.contentWrap {
  margin-left: 15px;
}