.selectedThread {
  list-style: none;
  width: 600px;
  padding: 10px;
  background: rgba(14, 18, 48, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.headerContainer {
 
}

.titleContainer {
  float: left;
}

.postedDetailsContainer {
  float: right;
  margin-top: 8px;
  margin-right:8px;
  font-size: 3mm;
}

.postedDate {
  padding: 0px;
  margin: 0px;
}

.postedUser {
  padding: 0px;
  margin: 0px;
}

.postedDetails {
  float: right;
  margin-right: 10px;
  padding: 0px;
}

.titleSelected {
  padding-top: 25px;
}

.selectedThreadContainer {
  display: block;
}


.selectedRow {
  color: rgb(215, 228, 245);
  height: 200px;
  margin:0;
  background-color: rgba(12, 23, 105, 0.5);
  border-color: rgb(109, 108, 108);
  box-shadow: -1px -1px 4px rgb(72, 136, 233), 1px 1px 4px #899ee9;
}

.contentWrap {
  margin-left: 15px;
}

.contentContainer {
  background: black;
  box-shadow: -1px -1px 4px rgb(72, 136, 233), 1px 1px 4px #899ee9;
  margin-right: 10px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 20px;
  padding: 3px;
}

p {
  margin-left: 10px;
}
