.threadPostComponent {
  margin-left: 100px;
  text-align: center;
  align-items: center;
}

.threadPost-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(14, 18, 48, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.topic-box label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}


.threadPost-box
.threadPostTitle {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

textarea {
  padding: 6px;
  font-family: sans-serif;
  border: 0;
  width: 100%;
  height: 100px;
  font-size: 1rem;
  background-color: #535170;
  color: white;
  border-radius: 4px;
}

.threadPost-box .topic-box {
  position: relative;
}

.threadPost-box .topic-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.threadPost-box a span {
  position: absolute;
  display: block;
}

.postThreadButton {
  color: #61677c;
  font-weight: bold;
  box-shadow: -1px -1px 4px rgb(76, 73, 243), 1px 1px 4px #6a7fce;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}